
:root {
  --ids__text-RGB:        25, 35, 25;
  --ids__link-RGB:        75, 85, 75;
  --ids__hover-RGB:       141, 208, 67;
  --ids__accent-RGB:      253, 47, 75;
  --ids__code-RGB:        180, 50, 140;
  --ids__mark-RGB:        221, 255, 151;
  --ids__surface-RGB:     245, 245, 245;
  --ids__background-RGB:  255, 255, 255;
}

body {
  color: rgba(var(--ids__text-RGB), 1);
  background-color: rgba(var(--ids__background-RGB), 1);
}