section {
  margin: 0 0 3em 0;
  padding-top: 1em;
}

.highlighted-title {
  margin: 1em 0 1em;
  border-bottom: 1px solid rgba(var(--ids__text-RGB), 1);
}

.company-with-location {
  h3, p {
    display: inline;
  }

  h3 {
    font-weight: 750;
    &::after {
      content: ',';
    }
  }
  p {
    font-size: 1.5em;
    font-weight: 400;
    opacity: 0.9;
  }
}

.fake-table {
  margin-bottom: 2em;

  & .fake-tr {
    border: 1px solid rgba(200,200,200,1);    
    padding: 0.5em 0.7em;
    margin-bottom: -1px;
    border-radius: 0.4em;

    > * {
      margin-bottom: 0;
    }
  }
}

.nav {
  font-size: 0.8em;

  .nav-item {
    margin-bottom: 0.4em;
    
    

  }
}